﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: playfair-display, Helvetica, Arial, sans-serif ;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.27rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

 /*@media (max-width: 767.98px) { 
     .main .top-row:not(.auth) { 
         display: none; 
     } 

     .main .top-row.auth { 
         justify-content: space-between; 
     } 

     .main .top-row a, .main .top-row .btn-link { 
         margin-left: 0; 
     } 
 }*/ 

@media (max-width: 767.98px) {
    #banner__video {
        display: none
    }

    #banner_image {
        background-image:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url(/Images/Resources/firefigther_training.jpg);
        height: 100%;
        width: auto;
    }

    .main .top-row {
        display: none;
    }

}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
	
	 .icon-bortronx {
        background-image: url("https://cdn4.iconfinder.com/data/icons/24x24-free-pixel-icons/24/Home.png");
        background-position: center center;
        width: 24px;
        height: 24px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

    /* Responsive layout - makes a two column-layout instead of four columns */
    /*@media screen and (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }*/

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }

        .showCode_background {
            background-image: none !important;
        }
    }

    p.shortParagraph {
        text-align: justify;
        text-justify: inter-word;
    }
    /**/
    .mrgn-l-30 {
        margin-left: 300px;
    }


    /* clear the body margin */
    body {
        margin: 0;
    }

    .banner {
        /* this bit of markup is essential */
        position: relative;
        overflow: hidden;
        /* square pattern */
        background: rgba(0, 0, 0, .5) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=');
        color: #fff;
    }

    #banner__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
    }
}

/*  EzBlogCSS  */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

demo-mat-card {
    max-width: 400px;
}

.demo-mat-card-content {
    padding: 1rem;
}

.demo-mat-card-clean-margin {
    margin: 0px;
}

.ezblog-title {
    font-family: playfair-display, serif !important;
    font-style: normal;
    font-weight: 400;
}

.ezblog-navigation {
    font-family: playfair-display, serif !important;
    font-style: normal;
    font-weight: 400;
    height: 52px !important;
}


.ezblog-body {
    font-family: minion-pro, serif;
    line-height: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 1.275em;
}

.ezblog-content {
    max-width: 700px;
    margin: auto;
}

.ezblog-content-bigger {
    max-width: 900px;
    margin: auto;
}

.ezblog-content-about {
    border-left: 6px solid whitesmoke;
    padding: 20px;
}


.ezblog-button {
    min-height: 55px;
    width: 130px;
    font-family: playfair-display, serif !important;
    font-style: normal;
    font-weight: 400;
}


.ezblog-button-container {
    display: inline-block;
    margin: 20px;
}

.ezblog-tag {
    font-family: playfair-display, serif !important;
    font-style: normal;
    font-weight: 400 !important;
    height: 70% !important;
    font-size: 12px;
}

pre code {
    display: block;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0 0.5em 1em;
    border-radius: 0.5em;
    background-color: #1b2426;
    color: #F0F8FF;
    font-family: "Lucida Console", Monospace;
    font-size: 0.675em;
}

/* End EzBlogCSS  */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/*.photogrid-row {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 100%;
    align-content: center;
}*/

.loading-screen {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}


@media (max-width: 767.98px) {
    .navmenu {
        display: none
    }

    .navmenu-mobile {
    }
}


@media (min-width: 767.98px) {
    .navmenu {
        display: flex;
    }

    .navmenu-mobile {
        display: none
    }
}