﻿@page "/About"

    <Title>Leonardo Guibert Developer Programmer</Title>

<div class="ezblog-content-bigger" style="height: 100%;">
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9" style="margin-top: 16px;  ">
                    <h1>Hello</h1>
                    <p>
                        I'm a developer with programming experience. My focus is 3D Graphics and Web Technologies. I have experience in 3D Art, graphic design and video editing as well.
                        <br>
                        <br>I am currently looking for freelance work or any projects in Miami that can help me grow in the fields of programming, 3d arts, or engineering.
                        <br>
                        <br>I am a Computer Engineer at Florida International University (FIU) where I developed software for the school’s virtual reality lab (ICAVE) and the FIU Academy for International Disaster Preparedness.
                        <br>
                        <br>As a software developer at FIU’s ICAVE lab I worked with various active chiefs from the city and the county’s firefighter departments and the FIU Academy for International Disaster Preparedness in the design of firefighter training simulation software (FIRE360) developed using C++/C#, 3D graphics, Unity3D Engine, VR technologies and mobile application control interface to replace existing outdated training solutions. The software has been sucessfully used in a production environment with more than 100 active firefighter trainees, making improvements overtime based on trainees and trainer feedback.
                        <br>
                    </p>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 ezblog-content-about">
                    <img src="https://drive.google.com/uc?export=view&id=1N1xmeEZLlQX0CCfi_08bHstTAKZRjAOB" alt="profile picture" width="210" height="200" style=" border-radius: 150px;" />
                    <div class="mat-layout-grid-cell">
                        <br>
                        <p><b>Leonardo Guibert</b></p>
                        <p>Software Developer</p>
                        <p><a href="https://gitlab.com/FieldMarshal">GitLab</a></p>
                        <p><a href="https://www.linkedin.com/in/leonardo-guibert-a829a2b4/">LinkedIn</a></p>
                        <p><a href="https://icave.fiu.edu">ICAVE</a></p>

                    </div>
                </div>
                <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12"></div>
                <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12"></div>
                <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12"></div>
                </div>
            </div>
</div>