﻿@page "/blog"
@page "/blog/{BlogSection}/{SectionArgument}"

@using BortronxWeb1.Components.EzBlog


@if (BlogSection != null && BlogSection == "Page")
{
    if (CheckPageExists(SectionArgument))
    {
        CurrentPage = FindPageData(CurrentPageId);
        <div class="mat-layout-grid">
            <EzBlogPage Title="@CurrentPage.Title" Author="@CurrentPage.Author" Date="@CurrentPage.Date"
                        Tags="@CurrentPage.Tags" PreviousPostLink="@CurrentPage.PreviousPostLink"
                        NextPostLink="@CurrentPage.NextPostLink" BlogMainPageLink="@BlogHomePageLink" HeadImageUrl="@CurrentPage.HeadImageUrl">
                @((MarkupString)CurrentPage.CustomHtml)
            </EzBlogPage>
        </div>
    }
    else
    {
        <Title>Blog 3D Simulations and Programming</Title>
        <div>
            
            @if (_isLoading)
            {
                <div style="height: 100%;" align="center">
                    <div style="width: 10%;" align="left">
                        <MatProgressBar style="height: 12px;" Indeterminate="true"></MatProgressBar>
                    </div>
                </div>
            }
            else
            {
                <div class="mat-layout-grid" style="height: 150px" align="center">
                    <h1 style="margin-top: 16px">PAGE NOT FOUND</h1>
                </div>
                <div style="height: 100%;">
                    <EzBlogCardArray PageData="@BlogPages" OnClickCallback="SelectPage" PageFilter="@SectionArgument"> </EzBlogCardArray>
                </div>
            }
        </div>
    }
}
else
{

<Title>Blog 3D Simulations and Programming</Title>

<div>
    @if (BlogSection == "Tag")
    {
        <div class="mat-layout-grid" style="height: 150px" align="center">
            <h1 style="margin-top: 16px">@SectionArgument.ToUpper()</h1>
        </div>

    }
    else
    {
        <div class="mat-layout-grid" style="height: 150px" align="center">
            <h1 style="margin-top: 16px">BLOG</h1>
        </div>

    }

    @if (_isLoading)
    {
        <div style="height: 100%;" align="center">
            <div style="width: 70%;" align="left">
                <MatProgressBar Indeterminate="true"></MatProgressBar>
            </div>
        </div>
    }
    else
    {
        <div style="height: 100%;">
            <EzBlogCardArray PageData="@BlogPages" OnClickCallback="SelectPage" PageFilter="@SectionArgument"> </EzBlogCardArray>
        </div>
    }
</div>

}




