﻿@page "/"
@page "/home"
@inject NavigationManager uriHelper

    <Title>Bortronx 3D Graphics Simulation and Games</Title>
    <div style="padding: 0px !important;height: 100%;">
        <div class="mat-layout-grid mat-elevation-z5 banner" id="banner_image" style="">
            <video autoplay loop muted id="banner__video" poster="/Images/Resources/firefigther_training.jpg">
                <source src="https://drive.google.com/uc?export=view&id=1dbRUegM1dG4-bnjS5IEVExsTmTrc7X8M" type="video/webm">
                <source src="https://drive.google.com/uc?export=view&id=1dbRUegM1dG4-bnjS5IEVExsTmTrc7X8M" type="video/mp4">
            </video>
            <div class="mat-layout-grid-inner" style="margin-left: 25px;">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 content"></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 content"></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8 content" style="color: #fff;">
                    <h1 style="color: white;">Power Of Graphics</h1>
                    <p class="shortParagraph" style="color: white;">
                        Imagine, experience and plan the future through tools and applications for games,
                        <br />
                        simulations and data vizualization. With a focus on Virtual Reality Technologies.
                    </p>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4 ">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4 ">
                </div>
            </div>
            <div class="mat-layout-grid-inner" style="margin-left: 25px;">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatButton Link="@uriHelper.ToAbsoluteUri("blog/Page/3").AbsoluteUri" Unelevated="true" style="font-size : 16px; width: 150px; height: 50px;">Learn More</MatButton>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 "></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 "></div>
            </div>
        </div>
        <div class="mat-layout-grid showCode_background" style="background-image: url(https://drive.google.com/uc?export=download&id=1IoKAhPA2v0Km3ElkY7r7oNUpjnY7z5Ab);
        background-repeat: no-repeat;
        display: flex;
        background-position: right;
        background-attachment: fixed;
        background-size: 20%;
    ">
            <div class="mat-layout-grid-inner" style="height: fit-content;margin-left: 25px;">
                <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12">
                        </div>
                        <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-5" style="">
                            <h2>Simulation</h2>
                            <p class="shortParagraph">
                                Architecture, incident training and data vizualisation among others.
                            </p>
                            <div style="padding-top: 15px;padding-bottom: 20px;">
                                <iframe width="560" height="255" src="https://www.youtube.com/embed/fHO9fKCmmWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-layout-grid mat-elevation-z5" style="        background-color: LightGray;
        height: 400px;
        background-image: url(https://drive.google.com/uc?export=download&id=1sbxZwpxQXDaDVWLCcz-OXyNluHMEHHFe);
        background-repeat: no-repeat;
">
            <div class="mat-layout-grid-inner" style="margin-left: 25px;">
                <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="height: 50px;"></div>
                        <div  class="mat-layout-grid-cell mat-layout-grid-cell-span-11 mat-layout-grid-align-right" style=" color: #fff;
        display: inline;
        padding: 0.5rem;
        background-color: black;
"> 
                            <h2>Games</h2>
                            <p class="shortParagraph">
                                Virtual reality creative, entertaining and physically active games.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-layout-grid" style="        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://drive.google.com/uc?export=download&id=1OMEWrKgyE_OeIaL4sXBWTxK1VF40GIyj);
        background-repeat: no-repeat;
        background-size: 176vmin;
        background-color: black;">
            <div class="mat-layout-grid-inner" style="margin-left: 25px; height: 55vmin;">
                <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="height: 50px;"></div>
                        <div class="mat-layout-grid-cell" style="color:white">
                            <h2>Traning</h2>
                            <p class="shortParagraph">
                                Facilitating learning, decision making and helping save lives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@code
{


}
