﻿@page "/portfolio"
@using BortronxWeb1.Components.EzBlog

    <Title>Leonardo Portfolio Art 3D Games</Title>

<div class="mat-layout-grid" style="height: 150px" align="center">
    <h1 style="margin-top: 16px">PORTFOLIO</h1>
    Here are some of my works.
</div>

<div class="mat-layout-grid" style="padding: 3%;">
    <MatTabGroup @bind-ActiveIndex="@tabIndex">
        <MatTab Label="3D Content">

        </MatTab>
        <MatTab Label="2D Content">

        </MatTab>
        <MatTab Label="Other">

        </MatTab>
    </MatTabGroup>
    @switch (tabIndex)
    {
        case 0:
            <PhotoGrid Links="ImageLinks_3dContent" NumberOfColumns="4" OnClickCallback="ShowIndividualImage"></PhotoGrid>
            break;
        case 1:
            <PhotoGrid Links="ImageLinks_2dContent" NumberOfColumns="4" OnClickCallback="ShowIndividualImage"></PhotoGrid>
            break;
        case 2:
            <PhotoGrid Links="ImageLinks_Other" NumberOfColumns="4" OnClickCallback="ShowIndividualImage"></PhotoGrid>
            break;
        default:
            <p>Nothing Here</p>
            break;
    }
</div>



@*OVERRIDE MATBLAZOR TAB STYLE*@
<style>
    .mdc-tab--active {
        background-color: whitesmoke;
    }
</style>

@*OVERRIDE MATBLAZOR DIALOG STYLE*@
<style>
    .mdc-dialog .mdc-dialog__container {
        width: 100%;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: none;
        width: 90%;
    }
</style>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogContent>
        <img src="@_dialogImage" style="width: 100%; height: 100%;">
    </MatDialogContent>
    <MatButton OnClick="@CloseDialog" Unelevated="true" Style="min-height: 54px;width: 100%;border-radius: 0px;">Close</MatButton>
</MatDialog>

@code
{
    public bool dialogIsOpen;

    private string _dialogImage = "";

    public void ShowIndividualImage(string currentImageLink)
    {
        _dialogImage = currentImageLink;
        dialogIsOpen = true;
    }

    public void CloseDialog()
    {
        dialogIsOpen = false;
        StateHasChanged();
    }

    public int tabIndex = 0;

    void ChangeTab(MouseEventArgs e)
    {
        tabIndex = tabIndex < 3 ? tabIndex + 1 : 0;
    }

    public List<string> ImageLinks_3dContent = new List<string>()
{
        "https://drive.google.com/uc?export=view&id=1xL2McrDXaYjYiZ-XoJM33ZvbfZrpwN5h",
        "https://drive.google.com/uc?export=view&id=13pdyJCIJKgR8_MCxK_Gd_mJBQiYPN3jt",
        "https://drive.google.com/uc?export=view&id=15QtsPJdDw_vQS_lxZVy1Tgm_zO4Ojvf7",
        "https://drive.google.com/uc?export=view&id=19_X6mUtJNy7RmHqDqhFCOXUE5-ogIwK3",
        "https://cdnb.artstation.com/p/assets/images/images/002/014/897/large/field-marshall-1342257-large.jpg?1455995556",
        "https://drive.google.com/uc?export=view&id=1swD8txh7KkvOuNQKOLBi_EwZNKkHHWUe",
        "https://drive.google.com/uc?export=view&id=1swDh-RsjLEmzVMW5nsXElbkOqG0faAXC",
        "https://i.imgur.com/LaS1YWC.gif",
        "https://cdnb.artstation.com/p/assets/images/images/002/018/503/large/field-marshall-1265476-88544-large.jpg",
        "https://drive.google.com/uc?export=view&id=1n1wj8y_T7M2n3oaVzQh-xlCt0vPeuCia",
        "https://drive.google.com/uc?export=view&id=1I4p3plWCnw8GBIuP8Ei7FkjDVN6tD2Mv",
        "https://drive.google.com/uc?export=view&id=1zj66cXOScy8tQX-sJXu9minaI1yvxmDK",
        "https://drive.google.com/uc?export=view&id=1rDSzLN4arsVADvPlGUEBjkBKBqV08Z4I",
        "https://drive.google.com/uc?export=view&id=1h8EIMHq3Sb_EWMzjOQYrbvWi2x-pU4ej",
        "https://drive.google.com/uc?export=view&id=1I8w1uj1DBqXStw6Yge7wt9VagrKjnEDS",
        "https://giant.gfycat.com/WeeDimwittedChupacabra.gif",
        "https://drive.google.com/uc?export=view&id=1VCH1GPJX2kLYc4fZmyXPli5Bo_LU-8gQ",
        "https://drive.google.com/uc?export=view&id=1Ixqkqge0TnxMXlq8YRCor1lKwAhMPBn-",
        "https://drive.google.com/uc?export=view&id=1sWGFai1t_9DvBPRqIQW4Zmf_B_ZUKDfg",
        "https://drive.google.com/uc?export=view&id=1s-fxVEmZ-UZXi15Thhv8nfA9xOkQw3LA",
        "https://drive.google.com/uc?export=view&id=16XvrftSZchG3dWgfmP6OqdJtrLvEgpZF",
        "https://drive.google.com/uc?export=view&id=14H3cksksXY0UlCncDo2WFhhhoukLq0J9",
        "https://cdna.artstation.com/p/assets/images/images/002/037/800/large/field-marshall-mech.jpg",
        "https://cdnb.artstation.com/p/assets/images/images/002/523/529/large/field-marshall-bumper-car-with-guy-long.jpg",
        "https://drive.google.com/uc?export=view&id=140rQAQZp13Anu7JXgaO7e_2aFgDXMWBf",
        "https://drive.google.com/uc?export=view&id=1-80dgSYduPe_TVKBAl_JTYqngMGgNzQa",
    };

    public List<string> ImageLinks_2dContent = new List<string>()
{
        "https://drive.google.com/uc?export=view&id=1x03sLt4ak9NLqkPhKKE0--_ujtXji9cS",
        "https://drive.google.com/uc?export=view&id=1sAVKU_0WAVMoraGjPDaZSssRNVe7doVD",
        "https://drive.google.com/uc?export=view&id=1ZSfckosSw6agFhUD3V-5pDnd-edMpdfw",
        "https://drive.google.com/uc?export=view&id=1KzFh7eqtzlI2vqCG1de1M6oWBW6DDmb9",
        "https://drive.google.com/uc?export=view&id=1qxOWJppKMuBHMghI0ovSZuGlSwObwWyB",
        "https://drive.google.com/uc?export=view&id=1VqvQacL9HMjz_0hea7Np5TSwejix6e94",
        "https://drive.google.com/uc?export=view&id=1qHRb9fhPUOvUE0yuqhTJPCds1FO-_jzw",
        "https://drive.google.com/uc?export=view&id=122JXHn66CwtwvQlwGdNyXkKZ8jogbwxj",
        "https://drive.google.com/uc?export=view&id=1joprpfEBNbS8GBeOjdWqd_sDLmDC8kbZ",
        "https://drive.google.com/uc?export=view&id=1olBMkSh0SXKe_Xc5WowABxNNk6Mtj438",
        "https://drive.google.com/uc?export=view&id=1990CqYamuoz0gPod-zQtRrutRn2pnXWW",
        "https://drive.google.com/uc?export=view&id=1FcPRmn25pHpRItMsB6HzUg09y2vqYvcT",
        "https://drive.google.com/uc?export=view&id=1f12Wmi7qFO64dPR1ZmdZI66Gbj5xk10K",
        "https://drive.google.com/uc?export=view&id=18FmeTxiKHTXQCRIdf5dT5VRdTWkPdxht",
        "https://drive.google.com/uc?export=view&id=1Zkggy4sxq3Px2e9gMNqGq_wY3qkqgfZq",
        "https://drive.google.com/uc?export=view&id=11-LXeiwe00hUxLT5BMQgCHtJx8wiDAW9",
        "https://drive.google.com/uc?export=view&id=1vnDXDJoGVsh3AUS4FFWJEi-cxmrjSGOd",
        "https://drive.google.com/uc?export=view&id=1wQfB1FY4_jJl6f03ttUrKwHw7ee04fPj",
        "https://drive.google.com/uc?export=view&id=1zD2V8m-Nmw6M07g2ERKkIPyj0W6x4c8e",
        "https://drive.google.com/uc?export=view&id=1lHEUclW74hfQWYs8rhiI6iiTCABBOqFh",
        "https://drive.google.com/uc?export=view&id=1rRJVnnUbHbnlA8KXspfhu7Vr9jVCG_09"
    };

    public List<string> ImageLinks_Other = new List<string>()
{
        "https://drive.google.com/uc?export=view&id=1EyFayuYMYjatcnvZr2h0Zk7TmPXARy__",
        "https://drive.google.com/uc?export=view&id=1q1sj5efY5Br43KGmzx1McagFLMnOEWje"
    };

}