﻿@page "/Utilities/{SelectedUtility}"
@page "/Utilities"

<div class="demo-mat-card-content" style="padding-top: 60px;background-color: whitesmoke;">
    <h3>Utilities</h3>
</div>

<div>
    @if (String.IsNullOrEmpty(SelectedUtility))
    {
        <MatList>
            @foreach (string s in UtilityComponents.Keys)
            {
                string item = s;
                string itemName = AddSpaces(s);
                <MatListItem OnClick="@(() => NavigateToItem(item))">
                    <div style="padding-right: 10px;">
                        @itemName
                    </div>
                    [
                    <div style="float:right;padding-top: 6px;">
                         <MatIcon>autorenew</MatIcon> 
                    </div>
                    ]
                </MatListItem>
                <MatListDivider></MatListDivider>
            }
        </MatList>
    }
    else
    {
        <div>
            <div style="padding: 10px 10px 10px 12px;">
                <MatButton OnClick="@NavigateBack" Icon="keyboard_arrow_left" Outlined="true">Go Back</MatButton>
            </div>

            @if (SelectedUtility == "ReverseList")
            {
                RenderFragment renderFragment = (builder) => { builder.OpenComponent(0, UtilityComponents[SelectedUtility].GetType()); builder.CloseComponent(); };

                <div>
                    @renderFragment
                </div>
            }
        </div>
    }
</div>








