﻿

<div class="demo-mat-card-content">
    <h5>ReverseList</h5>
    <h7>Paste in a comma separated list to reverse</h7>
</div>
<div class="demo-mat-card-content">
    <p>
        <MatTextField Style="background-color: whitesmoke;" @bind-Value="@MyString9" Label="List" TextArea="true" FullWidth="true"></MatTextField>
    </p>

    <MatButton OnClick="@Reverse" Raised="true">Reverse</MatButton>
</div>
<div  class="demo-mat-card-content">
    <p>
        <MatStringField Style="background-color: whitesmoke;" ReadOnly="true" TextArea="true" Value="@_myString10" Label="Result" FullWidth="true"></MatStringField>
    </p>
</div>


@code
{
    public string MyString9
    {
        get => _myString9;
        set
        {
            _myString9 = value;
            this.StateHasChanged();
        }
    }

    private string _myString9;
    private string _myString10;

    public void Reverse()
    {
        _myString10 = string.Join(",", _myString9.Insert(0, " ").Split(',').Reverse()).Remove(0, 1);

        char first = _myString10[0];

        if ((first > 64 && first < 91) || (first > 96 && first < 123))
        {

        }
        else
        {
            _myString10 = _myString10.Substring(1);
        }

        StateHasChanged();
    }


}