﻿@inherits LayoutComponentBase
@inject NavigationManager uriHelper

<div class="page">
    <MatThemeProvider Theme="@theme">
        <MatDrawerContent Class="" Style="position: relative; overflow: hidden;width: 100%; height:100%;">
            <MatDrawer @bind-Opened="@_navMenuOpened" Mode="@MatDrawerMode.Modal" Class="mat-elevation-z3" Style="width: 90vw;">
                <NavMenu OnClickCallback="ToggleMenu" BarColor="@theme.Primary"></NavMenu>
            </MatDrawer>
            <MatDrawerContent Style="position: relative;">
                <MatAppBar Fixed="false" Style="position:relative;">
                    <MatAppBarRow Style="height: 48px;">
                        <div class="navmenu-mobile">
                            <MatAppBarSection Style="height: 3.2em;">
                                <MatIconButton Icon="menu" OnClick="@ToggleMenu"></MatIconButton>
                            </MatAppBarSection>
                        </div>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <NavMenuLandingPage OnClickCallback="ToggleMenu" BarColor="@theme.Primary"></NavMenuLandingPage>
                            <NavLink href="@uriHelper.ToAbsoluteUri("home").AbsoluteUri" Match="NavLinkMatch.All">
                                <img src="/Images/Logos/BORTRONX_LOGO_white_squared.png" alt="logo" style="width:24px;height:24px; margin-left:10px;">
                            </NavLink>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>
                <MatAppBarContent Style="padding-top: 0px;position: relative">
                    <section style="min-height:86.3vh;">
                        @Body
                    </section>
                    <footer>
                        <WebsiteFooter></WebsiteFooter>
                    </footer>
                </MatAppBarContent>
            </MatDrawerContent>
        </MatDrawerContent>
    </MatThemeProvider>
</div>


@code
{
    bool _navMenuOpened = false;
    string NavMenuCss;

    void ToggleMenu()
    {
        _navMenuOpened = !_navMenuOpened;
    }
}

@*Theme*@

@code
{
    MatTheme theme = new MatTheme()
    {
        //COLORS
        Primary = MatThemeColors.Orange._500.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value
    };

    string BorderColors = "background: WhiteSmoke;"; //Try Snow
}
