﻿@using Microsoft.AspNetCore.Components;
@inject NavigationManager uriHelper

<MatNavMenu Multi="true" >
    <div  class="navmenu">
        <div>
            <MatNavItem class="ezblog-navigation" Href="@uriHelper.ToAbsoluteUri("home").AbsoluteUri">
                <span class="miniHover"> Home</span>
            </MatNavItem>
        </div>
        <div>
            <MatNavItem class="ezblog-navigation" Href="@uriHelper.ToAbsoluteUri("blog/Tag/Projects").AbsoluteUri">
                <span class="miniHover"> Projects</span>
            </MatNavItem>
        </div>
        <div>
            <MatNavItem class="ezblog-navigation" Href="@uriHelper.ToAbsoluteUri("blog/Tag/Articles").AbsoluteUri">
                <span class="miniHover"> Articles</span>
            </MatNavItem>
        </div>
        <div>
            <MatNavItem class="ezblog-navigation" Href="@uriHelper.ToAbsoluteUri("portfolio").AbsoluteUri">
                <span class="miniHover">Portfolio</span>
            </MatNavItem>
        </div>
        <div>
            <MatNavItem class="ezblog-navigation" Href="@uriHelper.ToAbsoluteUri("Utilities").AbsoluteUri">
                <span class="miniHover">Utilities</span>
            </MatNavItem>
        </div>
        <div>
            <MatNavItem class="ezblog-navigation" Href="@uriHelper.ToAbsoluteUri("About").AbsoluteUri">
                <span class="miniHover">About</span>
            </MatNavItem>
        </div>
    </div>
   

</MatNavMenu>

@code
{
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    [Parameter]
    public string BarColor
    {
        get { return _barColor; }

        set
        {
            _barColor = value;
            _navMenuTopBarStyle = _navMenuTopBarDefaultStyle + "background-color: " + value + ";";
        }
    }

    private string _barColor;

    private const string _navMenuTopBarDefaultStyle = "height: 3em; width: 100%;";
    private string _navMenuTopBarStyle = "height: 3em; width: 100%;";

    bool navSubMenuOpenState;


}