﻿<!-- Photo Grid -->
    <div class="photogrid-row">
        @for (int i = 0; i < NumberOfColumns; i++)
        {
            int imagesInColumn = (_remainingImages > 0) ? (_imagesPerColumn + 1) : _imagesPerColumn;
            _remainingImages--;

            int imgCol = imagesInColumn;

            <div class="column">
                @for (int j = 0; j < imgCol; j++)
                {
                    int sum = (imageIndex + j);
                    <img src="@Links[sum]" @onclick="@(() => OnClickCallback.InvokeAsync(Links[sum]))" style="width: 100%">
                }
            </div>

            imageIndex += imgCol;
        }
    </div>

@code {

    [Parameter]
    public List<string> Links { get; set; } = new List<string>();

    [Parameter]
    public int NumberOfColumns { get; set; }

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    private bool stop;

    private int imageIndex = 0;

    private int _remainingImages;

    private int _imagesPerColumn;

    protected override void OnParametersSet()
    {
        _imagesPerColumn = (Links.Count / NumberOfColumns);
        _remainingImages = ((Links.Count % NumberOfColumns));
        imageIndex = 0;
    }

    protected override bool ShouldRender()
    {
        var renderUI = false;

        return renderUI;
    }
}
