﻿<div class="mat-layout-grid" style="background-color: #333333;color: white;">
    <div class="mat-layout-grid-inner" style="margin-left: 25px; height: 100px;">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" align="center">
            <MatDivider></MatDivider>
        </div>
        <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-12" align="center">
            <img src="/Images/Logos/BORTRONX_LOGO_white_squared.png" alt="logo" style="width:24px;height:24px; margin-left:10px;"><br>
            <br>
            <p style="font-size: 10px;">
                www.bortronx.com
                <br>
                All rights reserved. 2020 ©

            </p>
        </div>
    </div>
</div>

@code {


}
