﻿<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner" align="center" style="margin-bottom: 25px;">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatDivider></MatDivider>
        </div>
    </div>
    <div class="mat-layout-grid-inner" align="center">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <div class="ezblog-button-container" align="left">
                <MatButton class="ezblog-button" Disabled="@(!isPreviousAvailable)" Outlined="true"
                           Icon="arrow_back"
                           OnClick="@NavigateToPreviousPost">Previous</MatButton>
            </div>
            <div class="ezblog-button-container" align="right">
                <MatButton class="ezblog-button" Disabled="@(!isNextAvailable)" Outlined="true"
                           TrailingIcon="arrow_forward"
                           OnClick="@NavigateToNextPost">Next</MatButton>
            </div>
        </div>
    </div>
    <div class="mat-layout-grid ezblog-link-container" align="center">
        <div class="mat-layout-grid-cell">
            <a class="ezblog-link-orange" href="@BlogMainPageLink"><h5>&nbsp;BROWSE ALL POSTS&nbsp;</h5></a>
        </div>
    </div>
</div>

