﻿
.ezblog-link-black {
    padding-top: 100px;
    text-decoration: underline;
    color: #000000;
    font-family: playfair-display, serif;
    font-style: normal;
    font-weight: 400;
}

.ezblog-link-orange {
    padding-top: 100px;
    text-decoration: underline;
    color: orange;
    font-family: playfair-display, serif;
    font-style: normal;
    font-weight: 400;
}

.ezblog-link-container {
    padding-top: 100px;
}