﻿@namespace MatBlazor
@inherits BaseMatDomComponent

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id">
    <div class="mdc-chip__ripple"></div>
    <div class="mdc-chip__text">@Label</div>
</div>

@code{
    /// <summary>
    /// The chip's text.
    /// </summary>
    [Parameter]
    public string Label { get; set; }

    public EzBlogTag()
    {
        ClassMapper
                .Add("mdc-chip");
    }

}