﻿@using BortronxWeb1.Models.Blog

    <div class="mat-layout-grid" style="max-width: 1300px">
        <div class="mat-layout-grid-inner" style="margin: 16px;">
            @for (int i = (PageData.Count - 1); i >= 0; --i)
            {
                @for (int j = 2; j >= 0 && i >= 0;)
                {
                    var ii = i;

                    if (string.IsNullOrEmpty(PageFilter) || ContainsString(PageData[i].Tags, PageFilter))
                    {
                        isTagFound = true;
                        <div class="mat-layout-grid-cell" style="max-width: 1300px;">
                            <MatCard class="demo-mat-card" @onclick="@(() => OnClickCallback.InvokeAsync(ii))">
                                <MatCardContent>
                                    <MatCardMedia Wide="true" ImageUrl="@PageData[ii].HeadImageUrl">
                                        <MatCaption align="right" style=" color: snow; margin: 10px; background-color: rgb(0 0 0 / 38%); padding: 0px 3px 0px 3px; border-radius: 2px;">@PageData[ii].Date</MatCaption>
                                    </MatCardMedia>
                                    <div class="demo-mat-card-content ezblog-title">
                                        <MatHeadline6 class="demo-mat-card-clean-margin ezblog-title" style="font-weight: 500;">
                                            @PageData[ii].Title
                                        </MatHeadline6>
                                        <MatSubtitle2 class="demo-mat-card-clean-margin ezblog-title" style="font-size: 10px;">
                                            @PageData[ii].Author
                                        </MatSubtitle2>
                                    </div>
                                    <div style="height: 50%; background-color: whitesmoke;">
                                        <EzBlogTagCollection BlogMainPageLink="@PageData[ii].BlogMainPageLink"
                                                             Tags="@PageData[ii].Tags"
                                                             TagClass="ezblog-tag"></EzBlogTagCollection>
                                    </div>
                                </MatCardContent>
                            </MatCard>
                        </div>

                        j--;
                    }
                    else
                    {

                    }

                    --i;
                }
            }

            @if (!isTagFound)
            {
                <div class="mat-layout-grid-cell-span-12" align="center" style="height: 100%;background-color: mistyrose;"><p>nothing was not found..</p></div>
            }
        </div>
    </div>



