﻿<EzBlogTagSet>
    @for (int i = 0; i < GetPostTags().Count; i++)
    {
        var ii = i;
            <NavLink href="@GetPostTags(ii).Item2" Match="NavLinkMatch.All">
                <EzBlogTag Label="@GetPostTags(ii).Item1"></EzBlogTag>
            </NavLink>

    }

</EzBlogTagSet>

