﻿@namespace MatBlazor
@inherits BaseMatDomComponent

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id">
    <CascadingValue Value=this>
        @ChildContent
    </CascadingValue>
</div>

@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public EzBlogTagSet()
    {
        ClassMapper
            .Add("mdc-chip-set");
    }

}