﻿@using BortronxWeb1.Models
@using MatBlazor;

    <Title>@Title</Title>

<div class="ezblog-title mat-layout-grid ">
    <div class="mat-layout-grid-inner" align="center">
        <div class="ezblog-title mat-layout-grid-cell mat-layout-grid-cell-span-12" align="center" style="margin: 15px 0px 25px 0px;">
            <a align="center" style="margin: 0px;">@Author</a>
            <br>
            <MatCaption align="center" style="color: #B0C4DE">@Date</MatCaption>
        </div>
        <div class="ezblog-title mat-layout-grid-cell mat-layout-grid-cell-span-12" align="center">
            <h1 class="ezblog-title" align="center">@Title</h1>
            <MatDivider></MatDivider>
        </div>
    </div>
</div>
<div class="" style="height: 300px; width: 100%; background-image: url(@HeadImageUrl);">
</div>
<div class="mat-layout-grid-inner">
    <div class=" mat-layout-grid-cell mat-layout-grid-cell-span-12">
        <EzBlogTagCollection BlogMainPageLink="@BlogMainPageLink"
                             Tags="@Tags"
                             TagClass="ezblog-tag"></EzBlogTagCollection>
    </div>
</div>


@code
{
    [Parameter]
    public string Author { get; set; } = "Anonymous";

    [Parameter]
    public string Title { get; set; } = "Something Interesting!";

    [Parameter]
    public string Date { get; set; } = "Anonymous";

    [Parameter]
    public string HeadImageUrl { get; set; } = "";

    [Parameter]
    public string BlogMainPageLink { get; set; }

    [Parameter]
    public List<string> Tags { get; set; }
}
