﻿

<div class="ezblog-content">
    <EzBlogHeader Author="@Author" Title="@Title" Date="@Date"
                    Tags="@Tags" BlogMainPageLink="@BlogMainPageLink"
                    HeadImageUrl="@HeadImageUrl">
    </EzBlogHeader>

    <EzBlogBody>
        @ChildContent
    </EzBlogBody>

    <EzBlogFooter BlogMainPageLink="@BlogMainPageLink" PreviousPostLink="@PreviousPostLink"
                    NextPostLink="@NextPostLink">
    </EzBlogFooter>
</div>



@code {

    [Parameter]
    public string Author { get; set; } = "Anonymous";

    [Parameter]
    public string Title { get; set; } = "Something Interesting!";

    [Parameter]
    public string Date { get; set; } = "Anonymous";

    [Parameter]
    public List<string>  Tags { get; set; }

    [Parameter]
    public string PreviousPostLink { get; set; }
    
    [Parameter]
    public string NextPostLink { get; set; }

    [Parameter]
    public string BlogMainPageLink { get; set; }

    [Parameter]
    public string HeadImageUrl { get; set; }


    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
