﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="mat-layout-grid-cell-span-12" align="center" style="height: 100%;background-color: mistyrose;"><p>nothing was not found..</p></div>
        </LayoutView>
    </NotFound>
</Router>
